* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}

:root {
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f2;
  color: #1e1e24;
  overflow: hidden; /* Hide scrollbars */
}

/* Show scrollbar when hovering */
body:hover {
  overflow-y: auto; /* Show scrollbar when hovering over the body */
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}
